

.polls{
    border-radius: 20px;
    background-color: white;
    font-family: var(--letra1);
    color: rgb(36, 33, 30);
    cursor: pointer;
    box-shadow: 2px 2px 4px black;
    font-weight: bold;
}