.surveyShowed-style{
  min-height: 70vh;
  padding-top: 100px;
}

.answer-style{
  cursor: pointer;
}

.answer-style:hover{
  background-color: rgba(0,0,0,0.5);
  transition: 300ms;
}

.answer-selected{
  background-color: rgba(0, 241, 20, 0.5);
}

.survey_answered{
  pointer-events: none;
  background-color: rgba(37, 221, 0, 0.342) !important;
}

.span-style{
  cursor: pointer;
}