.admin-edit{
margin-bottom: 4rem;
}

.btn-admin-edit{
    margin-top: 1rem;
    margin-bottom: 3rem;

}

.btn-published{
    margin-bottom: 2rem;
}

.borderM{
       border-style:double;
       border-color: var(--blue-munsell);
   }
   select[type="text"] {
       margin-left: 5%;
       width: 70%;
       
   }
   .inputWidth{
       width: 30%;
       
   }

