
.form-title{
    margin-bottom: 2rem;
    color: white;
    text-shadow: 2px 2px 4px black;
}
   .borderM{
       border-style:double;
       border-color: var(--blue-munsell);
   }
   select[type="text"] {
       margin-left: 5%;
       width: 70%;
       
   }
   input[type="text"] {
       margin-left: 5%;
       width: 70%;
       
   }

.titleColor{
    color: var(--blue-munsell);
}
