.btn-card{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
    

.btn-card:hover{
  background-color: whitesmoke;
  opacity: 0.5;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title{
  color:white;
  text-shadow: 2px 2px 4px #000000;
}



