@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.neon-box{
  border: solid 0.5px white;
  
}

.neon-text{
  padding: 5px;
  color: white;
  text-shadow:0 0 5px white, 0 0 10px #81249A, 0 0 20px #81249A, 0 0 30px #81249A, 0 0 40px #81249A,
  0 0 70px #81249A, 0 0 80px #81249A, 0 0 100px #81249A;
  
}