.header-nav{
    margin-bottom: 15rem;
    background-color: transparent;
    padding: 20px 0px;
    position: relative;
    top: 0;
    width: 100vw;
    animation: appear 1s linear alternate both;
    animation-delay: 2s;
    z-index: 10 !important;
}

.header-nav-top{
    margin-bottom: 15rem;
    background-color: transparent;
    padding: 20px 0px;
    position: fixed;
    top:0;
    width: 100vw;
    transition: .25s;
    z-index: 10 !important;
}

.header-nav-no-top{
    margin-bottom: 15rem;
    background: #25221f ;
    padding: 20px 0px;
    position: fixed;
    top:0;
    width: 100vw;
    z-index: 1;
    transition: .25s;
}

.logo-nav{
    text-decoration: none;
}