h5,
h6 {
  color: var(--blue-munsell);
}
.borderM {
  border-style: double;
  border-color: var(--blue-munsell);
}
select[type="text"] {
  margin-left: 5%;
  width: 70%;
}
input[type="text"] {
  margin-left: 5%;
  width: 70%;
}

.titleColor {
  color: var(--blue-munsell);
}
