

.footer-style{
  position: relative;
  padding-top: 3rem;
  background-color: rgb(36, 33, 30);
  font-family: var(--letra1);
  color: white;
  opacity: 0.9;
}

.footer-link-style{
  color: #2c8c99ff;
  text-decoration: none;
}

.footer-link-style2{
  color: gray;
  text-decoration: none;
}

.footer1{
  padding-bottom: 2rem;
}

hr{
  color: gray;
}

.last-row{
  color: gray;
}
