.spanSurvaysCardsTrue{
    background-color: rgb(13, 13, 13);
    color: var(--lime-green);
    border-radius: 15%;
    padding: 2px;
    font-family: var(--letra1);
}
.btnStateTrue:hover{
    background: var(--lime-green);
    color: black;
    border-color: black;
    opacity: 100%;
    position: relative;
    transition: 250ms;
    transform: rotate(7deg) scale(1.3);
}
.spanSurvaysCardsFalse{
    background-color: rgb(13, 13, 13);
    color: var(--red-violet-crayola);
    border-radius: 15%;
    padding: 2px;
    font-family: var(--letra1);
}
.btnStateFalse:hover{
    background: var(--red-violet-crayola);
    color: black;
    border-color: black;
    opacity: 100%;
    position: relative;
    transition: 250ms;
    transform: rotate(7deg) scale(1.3);
}